{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>My Khata - All profit & loss details</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'user/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% static 'user/css/metisMenu.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'user/css/startmin.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'user/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Page custom design -->
        <link href="{% static 'user/css/customize/login.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'user/css/customize/all_page.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Enter Your Details</h3>
                            <!-- <span class="message red">Error Message</span> -->
                            <span class="message"></span>
                        </div>
                        <div class="panel-body">
                            <form action="{% url 'login:check_login' %}" method="POST" role="form">
                                {% csrf_token %}
                                <!-- <fieldset> -->
                                    <div class="form-group  input-group">
                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                        <input class="form-control" placeholder="User Id/E-mail" name="email" type="email" autofocus>
                                    </div>
                                    <!-- <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                        <label class="forget-pwd">Forget Password?</label>
                                    </div> -->

                                    <div class="form-group input-group">
                                        <span class="input-group-addon lock_pwd"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                        <span class="input-group-addon show_hide_pwd"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                        </label>
                                        <label class="forget-pwd pull-right">Forget Password?</label>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button class="btn btn-lg btn-info btn-block login" type="submit" value="login">Login</button>
                                <!-- </fieldset> -->
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><span class="copy-right">&copy; My Khata</span></div>
                        <div class="col-md-8"><span class="powered-by">Powered By <i>Subhajit Dey</i></span></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="custom-notification-div">
            <div class="alert-success-myalert">
                <span class="alert-message green">My custom alert</span>
            </div>
        </div> -->
        <div id="custom_alert"></div>

        <!-- jQuery -->
        <script src="{% static 'user/js/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'user/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'user/js/metisMenu.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'user/js/startmin.js' %}"></script>

        <!-- Custom JavaScript -->
        <script src="{% static 'user/js/customize/secure_javascript.js' %}"></script>
        <script src="{% static 'user/js/customize/login.js' %}"></script>

    </body>
</html>
